<%= provide(:title,"Word Management") %>
<div class="row">
    <div class="col-2">
        <div class="card">
            <%= render "share/admin_side" %>
        </div>
    </div>
    <div class="col-10">
        <div class="card">
            <div class="card-header" style="justify-content:space-between;display:flex;"><%= @category.title %><%= link_to "New word", new_admin_category_word_path, class: "btn btn-success"%></div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>Word</th>
                            <th>Answer</th>
                            <th>Created at</th>
                            <th>actions</th>
                        </tr>
                        <% @words.each do |word| %>
                            <tr>
                                <td><%= word.content %></td>
                                <td><%= word.choices.find_by(correct: true).content %></td>
                                <td><%= word.created_at.to_date %></td>
                                <td><%= link_to "Edit", edit_admin_category_word_path(id: word), class: "btn btn-success btn-block" %></td>
                                <td><%= link_to "Delete", admin_category_word_path(id: word), method: :delete, class: "btn btn-secondary btn-block" %></td>
                            </tr>
                        <% end %>
                    </table>
                    <div class="mb-3" style="margin:auto;">
                        <%= will_paginate @categories %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
