<% provide(:title, @user.name) %>
<div class="card" style="width: 18rem;">
    <div class="card-header">User-Information</div>
    <div class="card-body text-center">
        <%= gravatar_for(@user, size: 200) %>
        <h4 class="card-text text-center"><%= @user.name %></h4>
        <p class="text-center"><%= @user.email %></p> 

        <%= render 'share/stats' %>

        <%= render 'follow_form' if logged_in? %>


        <% if @user.admin == true %>
            <%= link_to "Admin dashboad", admin_dashboard_path, class: "btn btn-success btn-block"%> 
        <% end %>
        <%= link_to "words learned", words_learned_user_path(@user)%>
    </div>
</div>
