<%= provide(:title, 'Home')%>
<% if logged_in? %>
<%= render "share/flash_message" %>
<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                User Information
            </div>
            <div class="card-body text-center">
                <%= gravatar_for(@user, size: 200) %>
                <hr>
                <h3><%= @user.name %></h3>
                <p class="lead"><%= @user.email %></p>
            </div>
        </div>
    </div>
    <div class="col-8">
        <%= render "users/activity" %>
    </div>
</div>
<% else %>
<%= render "share/flash_message" %>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home</h1>
    </div>
</div>
<% end %>