<div class="row">
    <div class="col-2">
        <div class="card">
            <%= render "share/admin_side" %>
        </div>
    </div>
    <div class="col-10">
        <div class="card">
            <div class="card-header" style="justify-content:space-between;display:flex;"><p>Over View</p><%= link_to "New category", new_admin_category_path, class: "btn btn-success"%></div>
            <div class="card-body">
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created at</th>
                            <th>actions</th>
                        </tr>
                    
                        <% @categories.each do |category| %>
                            <tr>
                                <td><%= link_to category.title, admin_category_words_path(category) %></td>
                                <td><%= category.description %></td>
                                <td><%= category.created_at.to_date %></td>
                                <td><%= link_to "Edit", edit_admin_category_path(id: category), class: "btn btn-success btn-block" %></td>
                                <td><%= link_to "Delete", admin_category_path(id: category), method: :delete, class: "btn btn-secondary btn-block" %></td>
                            </tr>
                        <% end %>
                    
                    </table>
                    <div class="mb-3" style="margin:auto;">
                        <%= will_paginate @categories %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
